[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.1"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
pillow = "*"
django-simple-captcha = "*"
django-recaptcha = "*"

[dev-packages]

[requires]
python_version = "3.11"
